.App {
  display: flex;
  margin: 30px auto;
  width: 60vw;
  height: 60vh;
  background: lightpink;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
